In [3]:
import pandas as pd

In [4]:
df_train = pd.read_csv('./LiDAR/Mar16_train.txt', sep='\t')

In [5]:
df_train.head()

,//X,Y,Z,R,G,B,Intensity,NumberOfReturns,ReturnNumber,Classification
0,513864.390999,5.426828e+06,249.753998,142,151,120,306,2,2,0
1,513864.460999,5.426826e+06,249.594009,145,150,130,380,1,1,0
2,513864.291000,5.426827e+06,249.664001,138,150,121,381,2,2,0
3,513864.200996,5.426827e+06,249.714005,138,149,118,107,2,2,0
4,513864.291000,5.426825e+06,249.514008,148,152,146,348,2,2,0

In [6]:
df_train.rename(columns={'//X': 'X'}, inplace=True)

In [7]:
df_train.head()

,X,Y,Z,R,G,B,Intensity,NumberOfReturns,ReturnNumber,Classification
0,513864.390999,5.426828e+06,249.753998,142,151,120,306,2,2,0
1,513864.460999,5.426826e+06,249.594009,145,150,130,380,1,1,0
2,513864.291000,5.426827e+06,249.664001,138,150,121,381,2,2,0
3,513864.200996,5.426827e+06,249.714005,138,149,118,107,2,2,0
4,513864.291000,5.426825e+06,249.514008,148,152,146,348,2,2,0

In [12]:
X_train = df_train.drop('Classification', axis=1)
Y_train = df_train.Classification